h2, h3, p {
    margin: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#intro {
    top: 0;
    left: 0;
    height: 800px;
    margin-top: 20px;
    width: 400px;
}

/* the style of the layer control menu */
#menu {
    background: #fff;
    z-index: 1;
    top: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/* the style of the layer control menu */
#sub-menu {
    background: #fff;
    z-index: 1;
    top: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

/* each layer on the menu */
#sub-menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#sub-menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#sub-menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#sub-menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#sub-menu a.active:hover {
    background: #3074a4;
}

#geocode {
    top: 0;
    right: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}

.marker {
    background-image: url('../img/library.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_elementry {
    background-image: url('../img/elementary_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_middle {
    background-image: url('../img/middle_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_high {
    background-image: url('../img/high_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_pk12 {
    background-image: url('../img/pk_12.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}
.marker_sc_k12 {
    background-image: url('../img/k_12.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_other {
    background-image: url('../img/other.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_pk {
    background-image: url('../img/pk.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}


.mapboxgl-ctrl-geocoder {
    border-radius: 0;
    position: relative;
    top: 0;
    width: 800px;
    margin-top: 0;
    border: 0;
  }

  .mapboxgl-ctrl-geocoder > div {
    min-width: 100%;
    margin-left: 0;
  }

@media screen and (max-width: 600px) {
    #intro {
        max-width: 300px;
    }

    #geocode {
        max-width: 200px;
    }
}