body {
    top: 0px;;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

header {
    top: 0px;
    height: 80px;
    background-color: #2D0D6B;
}

header, #user-inputs {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

h1 {
    color: white;
    /* margin: 0px 0px 0px 24px; */
    font-size: 60px;
}

h1 > span {
    color: #E1C69E;
}

h3 {
    margin: 0px;
    font-weight: bolder;
}

h1, h2, h3, label {
    font-family: "Manrope", "serif";
}

label {
    font-size: 16px;
    font-weight: bold;
}

#user-inputs {
    gap: 48px;
    height: 80px;
    width: 100%
}

.input-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#radio-buttons {
    display: flex;
}

#radio-buttons label {
    display: inline-flex;
    justify-content: center;
    width: 80px;
    padding: 8px;
    border: solid 2px #505050;

}

#radio-buttons input[type="radio"] {
    display: none;
}

#radio-buttons input[type="radio"]:checked + label {
    background-color: #2AA3DC;
    color: #FFFFFF;
}

#radio-buttons label:nth-child(2) {
    border-radius: 8px 0 0 8px;
}

#radio-buttons label:last-child {
    border-radius: 0 8px 8px 0;
}

#geocoder-container {
    background-color: lightblue;
    width: 360px;
    height: 36px;
    border-radius: 8px;
}

#map {
    position: absolute;
    top: 160px;
    bottom: 0px;
    width: 100%;
}

.map-overlay {
    position: absolute;
    top: 160px;
    left: 0px;
    bottom: 0;
    width: 550px;
    background: #EDEDED;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

/* #intro {
    top: 0;
    left: 0;
    height: 800px;
    margin-top: 20px;
    width: 400px;
} */

.listings {
height: 100%;
overflow: auto;
padding-bottom: 60px;
}

.listings .item {
border-bottom: 1px solid #eee;
padding: 10px;
text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
display: block;
color: #00853e;
font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
background-color: #f8f8f8;
}

::-webkit-scrollbar {
width: 3px;
height: 3px;
border-left: 0;
background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
background: none;
}

::-webkit-scrollbar-thumb {
background: #00853e;
border-radius: 0;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}

.marker {
    background-image: url('../img/library.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_elementry {
    background-image: url('../img/elementary_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_middle {
    background-image: url('../img/middle_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_high {
    background-image: url('../img/high_school.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_pk12 {
    background-image: url('../img/pk_12.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}
.marker_sc_k12 {
    background-image: url('../img/k_12.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_other {
    background-image: url('../img/other.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_sc_pk {
    background-image: url('../img/pk.png');
    background-size: cover;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}


.mapboxgl-ctrl-geocoder {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    #intro {
        max-width: 300px;
    }

    #geocode {
        max-width: 200px;
    }
}